
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

body {
font-family: Arial, Helvetica, sans-serif;
text-align: center;
top: 100%;
background: linear-gradient(to right,rgb(0,255,0), rgb(250,0,0));
opacity: 0.5;

}

h1 {
    font-size: 54px;
    letter-spacing: 0.5em;
}


h2 {
    font-family: ASAP sans-serif;
    letter-spacing: 0.25em;
}

h3 {

    font-weight: bold;
    font-family: 'Poppins', sans-serif;
  

}